@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),url('fonts/SpaceGrotesk-Regular.woff') format('woff') ;
}
@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: bold;
    src:url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),url('fonts/SpaceGrotesk-Bold.woff') format('woff') ;
}
@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: bolder;
    src:url('fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),url('fonts/SpaceGrotesk-Regular.woff') format('woff') ;
}
@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: lighter;
    src:url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),url('fonts/SpaceGrotesk-Medium.woff') format('woff') ;
}

body{
    background:#fcfcfc;
    color:#232323;
    font-family:"Georgia","Nimbus Roman No9 L","Times New Roman",Times,serif;
    font-weight:normal;
    margin:0;
    min-height:100%;
    overflow-x:hidden;
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size:100%;
    height:100%;
}
body > section, div#menu + div, #container > section, header{
	margin-left:20%;
	margin-right:30%;
}
div#menu + div{
    margin-top:170px;
    margin-bottom:170px;
}


header{
	padding-top:170px;
    padding-bottom:40px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom:0.5em;
}
.footnotes hr{
    display: none;
}
.footnotes{
    margin-top:20px;
    border-top:1px solid #d3d3d3;
}
.footnotes li p {
    font-size: 18px;
}
.footnote-back{
    margin-left:8px;
}

#TOC, #indice h1{
	display:none;
}
#indice p a{
	font-size:0.9em;
}
#indice li{
    margin-bottom:0.15em;
    padding-left:0;
    font-size:0.9em;
}
#content{
    background:#fcfcfc;
    letter-spacing: -0.01em;    
    min-height:66%;
    margin-left:22%;
    margin-right:16%;
    margin-top:10vh;
    margin-bottom:10%;
    padding:0 4vw;
}

h1,h2,h3,h5,.titolo-paragrafo,.Nome-capitolo{
    font-weight: bold;
    font-family:"SpaceGrotesk","Helvetica",sans-serif;
    line-height: 1em;
}

h4{
    font-weight: lighter;
    font-family: inherit;
    line-height: 1.5em;
}

h1,.Nome-capitolo{
    font-size: 50px;
    margin-top:1em;
    color: #113377;
    letter-spacing: -0.01em;
    margin-bottom:1.5em;
}

h1.title,.Nome-capitolo{
	text-align:left;
}
.char-style-override-3{
    font-style:italic;
}
.char-style-override-8{    
  font-variant: small-caps ;
}
a[href*="nota"]{
    vertical-align: super;
}
.subtitle,.Numero-capitolo{
	font-size:30px;
	font-family:"SpaceGrotesk","Helvetica",sans-serif;
	margin-bottom:100px;
    margin-top:-1.5em;
}
.author,.translator,.date{
	font-family:"SpaceGrotesk",sans-serif;
	font-size:18px;
    line-height:28px;
    margin:0;
}
.author{
	font-weight:bold;
	font-size:20px;
	top:170px;
    color:#113377;
}
.translator{
    float:right;
	top:210px;
}
.date{
    float:left;
	top:240px;
}

h2 span::after{
    content: ".";
}

h2,.titolo-paragrafo{
    font-size:30px;
    margin-top:2.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
}
#content h2, #content h3, #content h4{
    margin-left:30px;
    margin-top: 20px;
    padding-top: 40px;
}
#content h3, #content h4{
        font-size:20px;
        font-style: italic;
}

#content h2 span,#content h3 span,#content h4 span{
    display: none;
}

p, #content h3, #content h4, section:not(.footnotes) ul, #content ol,#content dl{
    font-size:22px;
}

p, section:not(.footnotes) ul, #content ol,#content dl{
    line-height:35px;
}

p{
    margin:0px 0px 12x 0px;
}
p:empty{
    display:none;
}
sup{
	vertical-align:super;
}
a{
    color:#137;
    text-decoration:none;
    cursor:pointer;
}
a:hover,a:active{
    outline:0;
    color:#57b;
}

section:not(.gallery) a{
    border-image: linear-gradient(to right,#113377, #ff3300);
    border-bottom-width: 2px;
    border-image-slice: 1;
    border-bottom-style: solid;
    padding: 0.3em 1px 1px;
}

/* section:not(.gallery) a:hover, section:not(.gallery) a:active, .borsa-acquisti.snipcart-add-item:hover
{
    background:#f30;
    color:white;
}
*/ 

.borsa-acquisti.snipcart-add-item {
  font-size:15px;
  width:120px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:#4e6096;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  text-shadow: 0px 1px 0px #283966;
  background:#1a4db3;
  box-shadow: var(--shadow-buttonPrimary-hover,0 10px 4px -8px rgba(0,0,0,.5));
}

.borsa-acquisti.snipcart-add-item:hover {
  background: #0d59f2
}


b,strong{
    font-weight:bold
}

figcaption strong{
    font-weight:normal;
}

em,i,blockquote{
    font-style: italic;
}
blockquote{
    border-left:2px solid;
    margin:0px 0px 24px 0px;
    /* margin-left:24px; */
    padding: 6px 20px;
}
hr{
    border:0;
    border-top:1px solid #d3d3d3;
}

#intro{
    margin-top:12rem;
}
#intro h1{
    display:none;
}
#intro p{
    font-size:26px;
    line-height:40px;
}
#intro,#ultimi-testi,#navigare-a-vista{
    margin-bottom:6rem;
}
#intro hr{
    margin-top:6rem;
}
.r-align{
    text-align:right;
}
section:not(.footnotes) ul{
    margin-top:3em;
    margin-bottom:4em;
    padding-left:1rem;
}
section:not(.footnotes) li{
    margin-left: 12px;
    list-style-type: none;
    position: relative;    /* It is required for setting position to absolute in the next rule. */
    margin-bottom:0.5em;
    padding-left:5em;
}

section:not(.footnotes) li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -0.8em;          /* Adjust this value so that it appears where you want. */
    font-size: 1.1em;      /* Adjust this value so that it appears what size you want. */
    display: none;
}
.textdate{
    min-width:6em;
    text-align:center;
    font-family:"SpaceGrotesk","Helvetica",sans-serif;
    font-size:0.8em;
    display:inline-block;
    margin-left:-8em;
    min-width:8em;
}
#table-of-contents li::before{
    content:'';
}
#menu{
    top:30px;
    position:absolute;
    left:50px;
    background:#fcfcfc;
}
#menutit{
    cursor: pointer;
}
#menucon{
    padding-left:10px;
    display:none;
    opacity:0;
    transition: opacity 0.5s;
    padding-right:20px;
    padding-bottom:20px;
    border-right:1px solid;
    border-bottom:1px solid;
    margin:0;
}
#menu:hover #menucon{
    display:block;
    opacity:1;
}
#menucon a{
    display:list-item;
    list-style-type: none;
}

blockquote ul {
    list-style:none;
}

blockquote li, blockquote p {
	margin-left:24px;
}

figure{
	margin:0;
}

figure img, p img{
    width:92%;
    margin-left: 4%;
    margin-right:4%;
}
figcaption{
    font-size:19px;
    line-height:29px;
    margin-left: 4%;
    margin-right: 4%;
}
/*#content img{
	width:88vw;
	margin-left:-20vw;
}
*/

#toggle-sidebar,
#table-of-contents .close-sidebar {
    display: none;
}

dd{
    margin:0;
}


dl dt{
    font-weight:bold;
}

dl p,dl table,dl ul,dl ol{
    margin-bottom:12px !important;
}

dl dd{
    margin:0 0 12px 24px;
}

.strikeout{
    color:#bcc !important;
    cursor: default !important;
}
.strikeout:hover{
    text-decoration: none !important;
}

@media print{
    .codeblock,pre.src{
        white-space:pre.src-wrap}
}

@media print{
    html,body,section{
        background:none !important}

    *{
        box-shadow:none !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important}

    a,a:visited{
          text-decoration:underline}

    pre.src,blockquote{
        page-break-inside:avoid}

    thead{
        display:table-header-group}

    tr,img{
        page-break-inside:avoid}

    img{
        max-width:100% !important}

    @page{
        margin:0.5cm}

    p,h2,h3{
        orphans:3;
        widows:3}

    h2,h3{
        page-break-after:avoid}
}

#content div.figure{
    margin-bottom:24px}

#content div.figure.align-center{
    text-align:center}

#content .section>img,#content .section>a>img{
    margin-bottom:24px}

/* ~~ Navigation Bar ~~ */
#navigation-container {
    margin: 0 auto;
}
#navigation-container, .footer ul{
    /*margin-left:-10%;*/
}


#navigation-bar {
    transition: top 0.5s;
    position:fixed;
    z-index: 100;
    background-color: #99aaaa;
    height: 75px;
    width: 100%;
    text-align:center;
    top:0;
}
#navigation-bar.hidden{
    top:-75px;
}
#navigation-bar img{
    height:66px;
    vertical-align:middle;
    margin-top:-3px;
}
#navigation-bar ul, .footer ul {
    padding: 0px;
    margin-top: 8px;
    margin-bottom:5px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

#navigation-bar li{
    list-style-type: none;
    font-family:"Space Grotesk",Arial,sans-serif;
    font-size: 18px;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left:30px;
    margin-right:30px;
    display: inline;
}
#navigation-bar li:not(:last-child):not(:first-child), .footer li:not(:last-child){
    border-right:none;
}

#navigation-bar li a, .footer li a{
    color: #fefefe;
    text-decoration: none;
    line-height: 30px;
    padding: 10px 15px;
    text-transform:uppercase;
}
.footer li a{
    padding: 10px 30px;
}
#navigation-bar li.indice{
    color: #fefefe;
    text-transform:uppercase;
    position: absolute;
    top:0px;
    left:60px;
    padding:4px 0px;
    cursor:pointer;
}
#navigation-bar li.indice:hover{
    text-decoration:underline;
}
/* ~~ Navigation Bar end ~~ */

/* ~~ footer ~~ */
.footer li {
     list-style-type: none;
    font-family:"SpaceGrotesk","Helvetica",sans-serif;
    font-size: 16px;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left:0px;
    margin-right:0px;
    display: inline;
}
.footer {
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    margin-top:150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #99aaaa;
    color: #fefefe;
    text-align: center;
}
.footer:before{
    position: absolute;
    margin-top:-100px;
    left:45%;
    content:'\2042';
    color: black;
    font-family: Arial;
    font-size: 20px;
}

.footer a {
    color: #fcfcfc;
    font-size: 16px;
    font-family:"SpaceGrotesk","Helvetica",sans-serif;
    text-decoration: none;
    line-height: 40px;
    padding: 5px 15px;
    text-transform:uppercase;
}
/* ~~ footer ~~ */

#navigation-bar li a:hover, .footer a:hover{
	text-decoration:underline;
}

/* index */


.uncollapse{
	display:block !important;
}
.currense{
    color:#113377 !important;
}

#table-of-contents{
    display: none;
    position: absolute;
    right:0;
    width: 18%;
    font-weight: normal;
    margin-right: 1%;
}
#table-of-contents b{
    font-weight: normal;
}
#table-of-contents h2{
    display: none;
}
#table-of-contents ul{
    font-size:18px;
}
.prevnext{
    width: 100px;
    height: 80px;
    font-size:36px;
    text-decoration: none;
}
.prevnext:hover{
    text-decoration:underline;
}
.next.prevnext{
    float: right;
    text-align: right;
}
.prev.prevnext{
    float: left;
}
.pvhome.prevnext{
    width: 100%;
    text-align:center;
    display: block;
}


/* schermi piccoli */

    @media screen and (max-width: 1400px){
    body > section, #container > section,div#menu + div, header{
    margin-left:8%;
    margin-right:20%;
}
h1 {
    font-size: 34px;
}
h2{
    font-size:26px;
}
    p, figcaption, #content h3, #content h4, section:not(.footnotes) ul, #content ol,#content dl{
        font-size:22px;
        line-height:35px;
    }

    #intro p{
        font-size:22px;
        line-height:35px;
    }

    #text-table-of-contents li{
        margin-left: 6px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
    }
    #text-table-of-contents ul{
        margin-top:6px;
    }

     #navigation-bar li{
        font-size:16px;
        margin-left:15px;
        margin-right:15px;
     }
        #content h1{
            font-size:60px;
        }

#navigation-container, .footer ul {
    margin-left: unset;
}

.subtitle{
    font-size:24px;
}


    }


@media screen and (max-width: 1024px){
    .longspan{
      display: none;
    }
}


/* mobile */

    @media screen and (max-width: 768px){
    body > section, #container > section, div#menu + div,header{
    margin-left:5%;
    margin-right:5%;
}
#title-block-header{
    padding-top:100px;
}
#navigation-container, .footer ul{
    margin-left:0;
}

        #text-table-of-contents{
            display: none;
        }
        
        #content{
            margin-left:0;
        margin-right:0;
        margin-bottom:15%;
        padding:2vw 4vw;
    }
        #content h1{
            font-size:40px;
     /*   text-shadow: 0px 0px 0 rgb(-22,-22,233),1px 1px 0 rgb(-34,-34,221),2px 2px 0 rgb(-46,-46,209), 4px 4px 3px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2); */
        }
        
        #content h1.title::before{
           font-size: 30px;
          width: 40px;
        }
        #content h2,#content h3,#content h4{
            margin-left:20px;
        }
        #content h2{ 
        font-size:20px;
        }
        #content h3,#content h4{
            font-size:19px;
        }

    #intro p{
            font-size:22px;
            line-height:35px;
        }


     p, section:not(.footnotes) ul,#content ol,#content dl{
        font-size:18px;
        line-height:27px;
    }
    section:not(.footnotes) ul,ol,dl,li{
        padding-left: 12px;
        margin-left:6px;
    }
        #content #content{
            padding:1.618em}

        #content.shift{
            position:fixed;
            min-width:100%;
            left:85%;
            top:0;
            height:100%;
            overflow:hidden}

        #copyright{
            width:85%;
            display:none}

        #copyright.shift{
            display:block}

        #content p img{
            width:100vw ;
        margin-left:-4vw;
            height:auto;
        }
        #navigation-bar{
            text-align: left;
            height:50px;
        }

        #navigation-bar li, .footer a{
            font-size:11px;
        }
        #navigation-bar li{
            margin:0;
        }
        .footer a{
            padding: 5px 8px;
        }
        #navigation-bar li:not(:first-child){
            padding-left:2px;
            border-left:1px solid #fcfcfc;
        }
        #navigation-bar li.indice{
            position: initial;
            left:0px;
            margin:0px;
            padding:8px;
        }
        #navigation-bar li a {
            padding:10px;
        }
        #navigation-bar ul{
            margin-left:6px;
        }
        #navigation-bar img{
            position:absolute;
            right:5px;
            height:40px;
            top:5px;
        }

        #toggle-sidebar {
            background-color: transparent;
            display: block;
            margin-bottom: 1.6em;
            padding: 0.6em;
            text-align: center;
        z-index: 10;
        }

        #toggle-sidebar h2 {
            background-color:#113377;
            width:100%;
            height:50px;
            left:0;
            top:0;
            color: white;
            font-size: 100%;
            line-height: 50px;
            position:fixed;
            margin: 0;
            padding: 0;
            opacity:0.6;
            z-index: 10;
        }



.footer li a {
    padding: 10px 10px;
}

.translator{
    clear: both;
    padding-top: 1em;
    float: unset;
}

}

/* fine mobile */

/* CCSHAREEEEEE */

 @font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


div#ccshare_panel {
    font-family:"Space Grotesk",Arial,sans-serif;
    font-size:18px;
    color:#113377;
    text-align:left;
    width: auto;
    min-height:1em;
    border: 0;
    width:19.5%;
    position:absolute;
    left:72%;
  display:none;
    z-index:999;
/*  -webkit-box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);
       -moz-box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);
            box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);*/
    /*border-radius: 10px;*/
            
}



div#ccshare_panel a, div#ccshare_panel a:visited, div#ccshare_panel a:active{
    text-decoration: none;
    color:#113377;
}

div#ccshare_cctext a:hover{
    text-decoration: underline;
}

div.ccshare_icon{
    display: flex;
    align-items: center;
    margin:2px 0;}

div#ccshare_title{
  width: 100%;
    /*background: url('../images/title.png') left top no-repeat;*/
/*    height: 30px;
    margin-top: 0;
    flex: 1 0 0;*/
}
div#ccshare_subtitle{
    font-weight: bold;
    padding:0.5em 0 0 0;
}

div#ccshare_text{
  display: none;
    padding: 0;
  font-family: 'Linux Libertine', Times, serif;
    line-height: 1.3em;
    max-height: 85px;
    overflow-y: scroll;
    margin: 1em 0 0.5em;
    font-size:0.85rem;
}

div#ccshare_reference{
  display: none;
    background: url('../images/reference.png') left top no-repeat;
    background-size: 27px 27px;
    padding-left: 34px;
    height: 27px;
  font-family: 'Linux Libertine', Times, serif;
    font-size:0.85rem;
    
}
div#ccshare_link{
  display: none;
    background: url('../images/link.png') left top no-repeat;
    background-size: 27px 27px;
    padding-left: 34px;
    height: 27px;
  font-family: 'Linux Libertine', Times, serif;
    font-size:0.85rem;
}
#ccshare_cc{
  width: 100%;
  height: 30px;
    background: url('./images/creative-commons-137.png') left top no-repeat;
  background-size: 130px;
/*    padding-left: 121px;
    height: 27px;*/
    font-family:"Space Grotesk",Arial,sans-serif;
/*  font-size:0.85rem;*/
}

div#ccshare_botton{
  height:30px;
    flex: 3 0 0;
}

div#ccshare_botton a, div#ccshare_botton a:visited, div#ccshare_botton a:active{
     display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background:#113377;
  border:3px solid transparent;
    font-weight:700;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform:uppercase;
  border-radius: 20px;
  width: 14px;
}
div#ccshare_botton a:not(:last-child){
  margin-right: 3px;
}

div#ccshare_botton a.facebook, div#ccshare_botton a.twitter{
    width: 20px;
    padding: 5px;
    font-size: 17px;}

div#ccshare_botton a:hover{
     color: #113377;
    background:#fcfcfc;
   border:3px solid #113377;
   }
div#ccshare_head{
  margin-top:2px;
  margin-bottom:20px;
}

.fabutt{
  font-family: 'FontAwesome';
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin: 0;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.icon-copy:before {
    content: "\f0c5";
    color:#fff;
    margin: 0 5px 0 0;
}

.icon-facebook:before {
    content: "\f09a";
    color:#fff;
    
}

.icon-twitter:before {
    content: "\f099";
    color:#fff;
}

div#ccshare_botton a:hover [class^="icon-"]:before, div#ccshare_botton a:hover [class*=" icon-"]:before{
    color:#000;
    }

.icon-caret-down:before {
    content: "\f0d7";
    padding-left: 5px;
}


#fuori{
    background:#F00;
    color:#FFF;
    padding:30px;}


    @media screen and (max-width: 1400px){

div#ccshare_panel {
    transform:scale(0.8);
    transform-origin:top;
    left:80%;
    }
    }

@media(max-width:768px){

div#ccshare_panel {
    width:96%;
    position:fixed;
    font-size: 0.85rem;
    padding:2%;
  background-color: #fcfcfc;
  border-top:1px solid #113377;
  padding-bottom:0;
        left:unset;
    transform:unset;
    transform-origin:unset;
}


div#ccshare_panel:after {
  border: 0;
}
div#ccshare_subtitle {
    padding: 0.3em 0 0 0;
}
div#ccshare_text {
    margin:0 0 0.5em 0;
    font-size: 0.80rem;
}
div#ccshare_head{
  width: 50%;
  float:left;
  display: inline;
}
div#command_line{
  text-align: right;
  width: 50%;
  float: left;
  display: inline;
}
div#ccshare_cc{
    background: url('./images/creative-commons-137.png') right top no-repeat;  
    background-size: 130px;
}
div#ccshare_botton a{
font-size:12px;
}
div#ccshare_reference, div#ccshare_link, div#ccshare_cc {
    font-size: 0.75rem;
    line-height: 1;
}   

}



/* GALLERY TESTING */

.gallery, .gallery section{
    margin-top:2em;
    display:grid;
    margin-left:10%;
    margin-right:10%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em 1em;
}
h2.gallery{
	white-space:break-spaces;
	display:block;
    margin-left:1%;
}

/*.gallery img + em, .gallery a em{
    display:block;
    font-style:normal;
    color:black;
    line-height:20px;
    font-size:16px;
    margin-left:1em;
    margin-right:1em;
}
*/

.gallery h2{
    grid-row: 1;
    grid-column: 1 / -1;
}

.gallery blockquote{
    font-weight: bold;
    font-family:"SpaceGrotesk","Helvetica",sans-serif;
    line-height: 1em;
    margin-left:0;
    border-left:0;
    font-style:normal;
    grid-column: 1 / -1;
    margin-top:5em;
}

.gallery blockquote p{
    margin-left:0;
    font-size:1.5em;
}

.lightbox-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 2em;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.97);
  }
.lightbox-wrapper {
    display:flex;
    flex-direction:row;
    width:100%;
    position: relative;
    align-items:center;
    justify-content:center;
  }
.lightbox-image {
    max-height: 85vh;
    max-width: 90vw;
    vertical-align: middle;
    margin:unset;
    width:unset;
  }
.lightbox-content {
    display: flex;
    flex-direction: column;
    order:2;
    align-items:center;
    max-height:90vh;
    width: min-content;
}
.lightbox-content figcaption{
    bottom: 10px;
    width:100%;
    background:transparent;
    padding:5px;
    color:#222;
}

.lightbox-btn {
    border:none;
  z-index: 2;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  background-color: transparent;
  cursor:pointer;
  color:black;
  font-size:40px;
}
.lightbox-btn:focus,
.lightbox-btn:hover {
    /*color: white;*/
  }
.lightbox-btn:disabled {
    cursor: initial;
    opacity: 0;
  }
.lightbox-btn-close {
    position:absolute;
    top: -50px;
    /*right: -60px;*/
  }
.lightbox-btn-next,
.lightbox-btn-previous {
    flex-grow:1;
  }
.lightbox-btn-previous {
    text-align:right;
    order:1;
    padding-right: 10px;
  }
.lightbox-btn-next {
    text-align:left;
    padding-left:10px;
    order:3;
  }
.lightbox-btn-close::after{
    content:'\26CC';
  }
.lightbox-btn-previous::before {
    position:relative;
    content:'\261C';
  }
  .lightbox-btn-previous:hover{
    padding-right:20px;
  }  
.lightbox-btn-next::after {
    position:relative;
    content:'\261E';
  }
  .lightbox-btn-next:hover{
    padding-left:20px;
  }

.lightbox-video-wrapper {
    width: 80vw;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
  }
.lightbox-video--player {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

[hidden] {
  display: none;
}

.remove-scroll {
  overflow: hidden;
}


@media (max-width: 1400px){
    .gallery{
        grid-template-columns: 33% 33% 33%;
    }
    .lightbox-image {
        max-height: 85vh;
        max-width: 85vw;
    }
}

@media(max-width:768px){
    .gallery{
        margin-left:2vw;
        margin-right:2vw;
        width:96vw;
        grid-template-columns: 100%;
    }
    .lightbox-image {
        max-height: 70vh;
        max-width: 95vw;
    }
    .lightbox-content figcaption{
        max-width:95vw;
    }
    .lightbox-btn {
        position:fixed;
    }
    .lightbox-btn-close{
        top:0;
        left:45%;
    }
    .lightbox-btn-previous{
        left:5%;
        top:0;
    }
    .lightbox-btn-next{
        right:5%;
        top:0;
    }
}
